/* Загальні стилі для галереї */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1440px; /* фіксована ширина зовнішньої рамки */
    height: 696px; /* фіксована висота зовнішньої рамки */
    padding: 24px 158px; /* відступи від країв рамки */
    margin: 0 auto; /* центрування галереї на сторінці */
    background: #fff; /* білий фон */
    box-sizing: border-box;
}

/* Стилі для кожного елементу галереї */
.gallery-item {
    width: 360px; /* ширина зображення */
    height: 200px; /* висота зображення */
    margin-bottom: 24px; /* відступ між рядами */
}

/* Стилі для посилання у кожному елементі */
.gallery-link {
    display: block;
    width: 100%;
    height: 100%;
}

/* Стилі для зображень */
.gallery-image {
    width: 100%; /* ширина зображення адаптується до контейнера */
    height: 100%; /* висота зображення адаптується до контейнера */
    object-fit: cover; /* зображення покриває весь контейнер без спотворень */
}


/* Стилі для великих зображень у модальному вікні */
.modal {
    display: none; /* Початково модальне вікно не відображається */
    position: fixed; /* Позиціонування відносно вікна браузера */
    top: 0;
    left: 0;
    width: 100%; /* Ширина відповідає ширині вікна браузера */
    height: 100%; /* Висота відповідає висоті вікна браузера */
    background: rgba(46, 47, 66, 0.8); /* Напівпрозорий фон з заданим кольором */
    z-index: 1000; /* Забезпечує, що модальне вікно буде над іншими елементами */
    display: flex;
    align-items: center; /* Вертикальне центрування зображення */
    justify-content: center; /* Горизонтальне центрування зображення */
}


.modal-content {
    width: 1112px; /* Ширина великого зображення */
    height: 640px; /* Висота великого зображення */
    border: 3px solid #fff; /* Біла рамка навколо зображення */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Тінь для додавання глибини */
    background-color: #fff; /* Білий фон під зображенням */
    padding: 28px 164px; /* Відступи від рамки до зображення */
    box-sizing: border-box; /* Відступи враховуються у ширину та висоту */
}

